@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./prism-dracula.css);

article {

    * {
        @apply text-sm md:text-base;
    }

    h1, h1 a {
        @apply text-3xl md:text-4xl;
        text-align: center;
    }

    h2, h2 a {
        @apply text-2xl md:text-3xl;
    }

    h3, h3 a {
        @apply text-xl md:text-2xl;
    }

    h4, h4 a {
        @apply text-lg md:text-xl;
    }

    h5, h5 a {
        @apply text-lg md:text-xl;
    }

    h6, h6 a {
        @apply text-lg md:text-xl;
    }

    h1, h1 a,
    h2, h2 a,
    h3, h3 a,
    h4, h4 a,
    h5, h5 a,
    h6, h6 a {
        @apply font-serif pt-4;
    }

    strong {
        font-weight: bold;
    }

    p {
        font-weight: 300;
        padding-top: 20px;
    }

    blockquote {
        @apply m-3 px-3 border-l-4 border-orange;
    }

    blockquote p {
        padding: 5px 0px;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    ol {
        list-style-type: decimal;
        margin-left: 20px;
    }

    li,
    li p {
        font-weight: 400;
        margin: 0px;
        padding: 0px;
    }

    table,
    table th,
    table td {
        padding: 5px 20px;
        border-collapse: collapse;
        border: 1px solid rgb(174, 174, 174, 0.5);
    }

    table tr:nth-child(odd) {
        background-color: rgb(243, 243, 243, 0.1);
    }

    th,
    td {
        padding: 0px 10px;
    }

    p a {
        font-size: 0.9em;
        font-style: italic;
        border-bottom: 1px dotted #666;
    }

    img {
        display: block;
        margin: auto;
    }

    svg text {
        @apply dark:fill-white;
    }

    .jxgbox {
        width: 500px;
        height: 400px;
        display: block;
        margin: auto !important;
    }

    ul em,
    ol em {
        display: inline-flex;
    }

    em {
        font-style: italic;
    }

    img + em {
        @apply text-sm;
        margin: auto;
        text-align: center;
        display: block;
    }

    sup {
        @apply text-sm align-text-top;
    }

    .footnotes {
        margin-top: 50px;
        padding: 20px;
    }

    .footnotes * {
        font-weight: 200;
        font-size: 0.95em;
        color: #666;
    }

    details {
        margin: 20px 0px 10px 0px;
        color: #666;
    }

    .katex {
        /* Adjust the vertical spacing between elements */
        margin-bottom: 0.5em;
    }

    .katex .frac-line {
        /* Adjust the vertical position of the fraction line */
        top: 0.1em;
        bottom: 0.1em;
    }
}
